body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#weatherInfo, #weatherForm{
    background-color: whitesmoke;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 20px 20px 15px 2px #000000;
}